# TS fresh for action units DUMMY

In [2]:
import pandas as pd
import pickle

In [22]:
import pandas as pd

# Data for a single ID
data_single = {
    'frame': [104, 105, 112, 115, 154, 155, 156, 157, 160, 161, 162, 164, 165, 175, 198, 199, 208, 213, 214, 215],
    'face_id': [0.0] * 20,
    'confidence': [0.88, 0.98, 0.98, 0.98, 0.98, 0.98, 0.88, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98],
    'success': [1.0] * 20,
    'AU01_r': [0.00, 0.00, 0.31, 0.00, 1.26, 1.50, 0.88, 0.34, 0.00, 0.00, 0.00, 0.00, 0.00, 0.20, 1.60, 1.60, 0.00, 0.00, 0.00, 0.00],
    'AU02_r': [0.00, 0.00, 0.59, 0.12, 1.67, 2.48, 2.77, 2.22, 1.30, 1.79, 1.18, 0.59, 0.59, 0.86, 0.91, 0.91, 0.04, 0.00, 0.00, 0.00],
    'AU04_r': [0.0] * 20,
    'AU05_r': [0.0] * 20,
    'AU06_r': [1.34, 1.34, 0.31, 0.32, 0.39, 0.60, 0.59, 0.73, 0.19, 0.25, 0.12, 0.29, 0.29, 0.11, 1.13, 1.13, 0.23, 1.02, 1.71, 1.93],
    'AU07_r': [0.22, 0.22, 0.31, 0.06, 0.26, 0.26, 0.02, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.25, 1.92, 1.92, 0.56, 0.17, 0.17, 0.00],
    # Add more columns as needed
    'AU09_r': [0.0] * 20,
    'AU10_r': [0.0] * 20,
    'AU12_r': [0.0] * 20,
    'AU14_r': [0.0] * 20,
    'AU15_r': [0.0] * 20,
    'AU17_r': [0.0] * 20,
    'AU20_r': [0.0] * 20,
    'AU23_r': [0.0] * 20,
    'AU25_r': [0.0] * 20,
    'AU26_r': [0.0] * 20,
    'AU45_r': [0.0] * 20,
    'ID': [80] * 20,
    'Timeframe': [[4, 5, 6]] * 20
}

# List of IDs to replicate the data for
ids = [80, 81, 82, 83, 84]

# Create a list to hold individual DataFrames for each ID
dfs = []

# Replicate the data for each ID
for id_ in ids:
    data_copy = data_single.copy()  # Make a copy of the data for each ID
    data_copy['ID'] = [id_] * 20  # Update ID values
    dfs.append(pd.DataFrame(data_copy))

# Concatenate all DataFrames into one
dummy = pd.concat(dfs, ignore_index=True)

In [23]:
print(dummy.shape)

(100, 23)

In [24]:
print(len(dummy['ID'].unique()))

# I have 5 unique IDs

5

In [47]:
dummy.to_csv('/Users/dionnespaltman/Desktop/downloading_new/dummy_tsfresh.csv', index=True)

In [25]:
nan_counts_dummy = dummy.isna().sum()
print(nan_counts_dummy)

frame         0
face_id       0
confidence    0
success       0
AU01_r        0
AU02_r        0
AU04_r        0
AU05_r        0
AU06_r        0
AU07_r        0
AU09_r        0
AU10_r        0
AU12_r        0
AU14_r        0
AU15_r        0
AU17_r        0
AU20_r        0
AU23_r        0
AU25_r        0
AU26_r        0
AU45_r        0
ID            0
Timeframe     0
dtype: int64

In [26]:
not_nan_counts_dummy = dummy.count()
print(not_nan_counts_dummy)

frame         100
face_id       100
confidence    100
success       100
AU01_r        100
AU02_r        100
AU04_r        100
AU05_r        100
AU06_r        100
AU07_r        100
AU09_r        100
AU10_r        100
AU12_r        100
AU14_r        100
AU15_r        100
AU17_r        100
AU20_r        100
AU23_r        100
AU25_r        100
AU26_r        100
AU45_r        100
ID            100
Timeframe     100
dtype: int64

In [27]:
# Necessary imports
!pip install tsfresh

import pandas as pd
from tsfresh import extract_features
from tsfresh.feature_extraction import EfficientFCParameters
from sklearn.preprocessing import StandardScaler

Requirement already satisfied: tsfresh in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (0.20.2)
Requirement already satisfied: statsmodels>=0.13 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (0.13.5)
Requirement already satisfied: cloudpickle in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (2.0.0)
Requirement already satisfied: numpy>=1.15.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.23.5)
Requirement already satisfied: patsy>=0.4.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (0.5.3)
Requirement already satisfied: scikit-learn>=0.22.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.2.1)
Requirement already satisfied: requests>=2.9.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (2.28.1)
Requirement already satisfied: pandas>=0.25.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.4.4)
Requirement already satisfied: tqdm>=4.10.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (4.64.1)
Requirement already satisfied: scipy>=1.2.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.10.0)
Requirement already satisfied: stumpy>=1.7.2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.12.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from pandas>=0.25.0->tsfresh) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from pandas>=0.25.0->tsfresh) (2022.7)
Requirement already satisfied: six in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from patsy>=0.4.1->tsfresh) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (2023.7.22)
Requirement already satisfied: joblib>=1.1.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.22.0->tsfresh) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.22.0->tsfresh) (2.2.0)
Requirement already satisfied: packaging>=21.3 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from statsmodels>=0.13->tsfresh) (22.0)
Requirement already satisfied: numba>=0.55.2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from stumpy>=1.7.2->tsfresh) (0.56.4)
Requirement already satisfied: setuptools in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from numba>=0.55.2->stumpy>=1.7.2->tsfresh) (65.6.3)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from numba>=0.55.2->stumpy>=1.7.2->tsfresh) (0.39.1)

I'm only interested in the intensity values (so the variables with R at the end, not C).

In [31]:
dummy_long_format = pd.melt(dummy, id_vars=['ID', 'frame'],
                                   var_name='measurement', value_name='value',
                                   value_vars=['AU01_r', 'AU02_r',
       'AU04_r', 'AU05_r', 'AU06_r', 'AU07_r', 'AU09_r', 'AU10_r',
       'AU12_r', 'AU14_r', 'AU15_r', 'AU17_r', 'AU20_r', 'AU23_r',
       'AU25_r', 'AU26_r', 'AU45_r'])

In [32]:
display(dummy_long_format)

      ID  frame measurement  value
0     80    104      AU01_r   0.00
1     80    105      AU01_r   0.00
2     80    112      AU01_r   0.31
3     80    115      AU01_r   0.00
4     80    154      AU01_r   1.26
...   ..    ...         ...    ...
1695  84    199      AU45_r   0.00
1696  84    208      AU45_r   0.00
1697  84    213      AU45_r   0.00
1698  84    214      AU45_r   0.00
1699  84    215      AU45_r   0.00

[1700 rows x 4 columns]

There are a lot of missing values.

In [33]:
nan_counts = dummy_long_format.isna().sum()
print(nan_counts)

ID             0
frame          0
measurement    0
value          0
dtype: int64

In [34]:
!pip install tsfresh
from tsfresh import extract_features

Requirement already satisfied: tsfresh in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (0.20.2)
Requirement already satisfied: stumpy>=1.7.2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.12.0)
Requirement already satisfied: statsmodels>=0.13 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (0.13.5)
Requirement already satisfied: numpy>=1.15.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.23.5)
Requirement already satisfied: scipy>=1.2.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.10.0)
Requirement already satisfied: pandas>=0.25.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.4.4)
Requirement already satisfied: requests>=2.9.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (2.28.1)
Requirement already satisfied: scikit-learn>=0.22.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.2.1)
Requirement already satisfied: patsy>=0.4.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (0.5.3)
Requirement already satisfied: cloudpickle in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (2.0.0)
Requirement already satisfied: tqdm>=4.10.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (4.64.1)
Requirement already satisfied: pytz>=2020.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from pandas>=0.25.0->tsfresh) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from pandas>=0.25.0->tsfresh) (2.8.2)
Requirement already satisfied: six in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from patsy>=0.4.1->tsfresh) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (2023.7.22)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (2.0.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.22.0->tsfresh) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.22.0->tsfresh) (1.1.1)
Requirement already satisfied: packaging>=21.3 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from statsmodels>=0.13->tsfresh) (22.0)
Requirement already satisfied: numba>=0.55.2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from stumpy>=1.7.2->tsfresh) (0.56.4)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from numba>=0.55.2->stumpy>=1.7.2->tsfresh) (0.39.1)
Requirement already satisfied: setuptools in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from numba>=0.55.2->stumpy>=1.7.2->tsfresh) (65.6.3)

In Judita her article, she used the following six intensity level characteristics: sum, variance, standard deviation, maximum, mean, and mean-root square values (total number of extracted features = 102). 

The code down below doesn't run, because the value contains NaN values (also seen above, where I counted the occurences of NaN values).

In [38]:
from tsfresh.feature_extraction import ComprehensiveFCParameters

# Specificeer de gewenste kenmerken
settings = {
    #'sum': {},
    'sum_values': {},
    'variance': {},
    'standard_deviation': {},
    'maximum': {},
    'minimum': {},
    #'median': {},
    'mean': {},
    'mean_abs_change': {},  #proxy voor gemiddelde van de wortel van de kwadraten als 'mean root square' niet direct beschikbaar is
    #'agg_linear_trend': [{'attr': 'slope', 'f_agg': 'max', 'chunk_len': 5}, {'attr': 'slope', 'f_agg': 'min', 'chunk_len': 5}]  #maximale en minimale helling
}

# Extract features met aangepaste instellingen
extracted_features_dummy = extract_features(
    dummy_long_format,
    column_id='ID',  # Identifies the time series
    column_sort='frame',  # Orders the time points
    column_kind='measurement',  # Distinguishes between different variables if necessary
    column_value='value',  # The actual measurements
    default_fc_parameters=settings
)

Feature Extraction: 100%|██████████| 17/17 [00:02<00:00,  7.08it/s]

In [39]:
print(extracted_features_dummy.head)

<bound method NDFrame.head of     AU07_r__sum_values  AU07_r__variance  AU07_r__standard_deviation  \
80                6.34          0.306451                     0.55358
81                6.34          0.306451                     0.55358
82                6.34          0.306451                     0.55358
83                6.34          0.306451                     0.55358
84                6.34          0.306451                     0.55358

    AU07_r__maximum  AU07_r__minimum  AU07_r__mean  AU07_r__mean_abs_change  \
80             1.92              0.0         0.317                 0.244211
81             1.92              0.0         0.317                 0.244211
82             1.92              0.0         0.317                 0.244211
83             1.92              0.0         0.317                 0.244211
84             1.92              0.0         0.317                 0.244211

    AU09_r__sum_values  AU09_r__variance  AU09_r__standard_deviation  ...  \
80                 0.0               0.0                         0.0  ...
81                 0.0               0.0                         0.0  ...
82                 0.0               0.0                         0.0  ...
83                 0.0               0.0                         0.0  ...
84                 0.0               0.0                         0.0  ...

    AU23_r__minimum  AU23_r__mean  AU23_r__mean_abs_change  \
80              0.0           0.0                      0.0
81              0.0           0.0                      0.0
82              0.0           0.0                      0.0
83              0.0           0.0                      0.0
84              0.0           0.0                      0.0

    AU25_r__sum_values  AU25_r__variance  AU25_r__standard_deviation  \
80                 0.0               0.0                         0.0
81                 0.0               0.0                         0.0
82                 0.0               0.0                         0.0
83                 0.0               0.0                         0.0
84                 0.0               0.0                         0.0

    AU25_r__maximum  AU25_r__minimum  AU25_r__mean  AU25_r__mean_abs_change
80              0.0              0.0           0.0                      0.0
81              0.0              0.0           0.0                      0.0
82              0.0              0.0           0.0                      0.0
83              0.0              0.0           0.0                      0.0
84              0.0              0.0           0.0                      0.0

[5 rows x 119 columns]>

In [44]:
display(extracted_features_dummy)

,AU07_r__sum_values,AU07_r__variance,AU07_r__standard_deviation,AU07_r__maximum,AU07_r__minimum,AU07_r__mean,AU07_r__mean_abs_change,AU09_r__sum_values,AU09_r__variance,AU09_r__standard_deviation,...,AU23_r__minimum,AU23_r__mean,AU23_r__mean_abs_change,AU25_r__sum_values,AU25_r__variance,AU25_r__standard_deviation,AU25_r__maximum,AU25_r__minimum,AU25_r__mean,AU25_r__mean_abs_change
80,6.34,0.306451,0.55358,1.92,0.0,0.317,0.244211,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81,6.34,0.306451,0.55358,1.92,0.0,0.317,0.244211,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82,6.34,0.306451,0.55358,1.92,0.0,0.317,0.244211,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83,6.34,0.306451,0.55358,1.92,0.0,0.317,0.244211,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84,6.34,0.306451,0.55358,1.92,0.0,0.317,0.244211,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
print(extracted_features_dummy.shape)

(5, 119)

The ID can be found in the index!

In [46]:
extracted_features_dummy.to_csv('/Users/dionnespaltman/Desktop/downloading_new/extracted_features_dummy.csv', index=True)