# SHAP

https://www.kaggle.com/code/ritzig/classification-feature-selection-shap-tutorial

In [1]:
import pandas as pd
import os
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns
sns.set(rc={'figure.figsize':(15,5)})
plt.style.use('fivethirtyeight')

from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

import shap

# Load data

In [15]:
complete_dataset = pd.read_csv('/Users/dionnespaltman/Desktop/V4/standardized_complete_dataset.csv')
complete_dataset = complete_dataset.drop(columns='Unnamed: 0', axis=1)

In [16]:
complete_dataset.head()

,ID,Sum_12,Sum_4567,VVR_1,VVR_2,Sum_456,VVR_group,Condition,Date,Gender,...,AU26_r__standard_deviation,AU26_r__maximum,AU26_r__mean,AU26_r__root_mean_square,AU45_r__sum_values,AU45_r__variance,AU45_r__standard_deviation,AU45_r__maximum,AU45_r__mean,AU45_r__root_mean_square
0,23,24.0,37.0,13.0,11.0,27.0,0,2,2020-08-01,2,...,-0.289518,0.458331,-0.574983,-0.554028,-0.333560,0.221977,0.345618,0.548923,0.603537,0.429001
1,24,23.0,37.0,12.0,11.0,28.0,0,2,2020-01-22,2,...,1.793425,0.458331,2.294469,2.317495,0.203487,-0.260024,-0.030426,0.619766,-0.659902,-0.281599
2,25,28.0,44.0,16.0,12.0,33.0,1,2,2020-05-02,2,...,0.557817,0.458331,0.196854,0.400873,-0.376228,0.033873,0.204639,-0.135892,0.093018,0.147314
3,26,30.0,37.0,15.0,15.0,29.0,0,1,2020-06-02,1,...,-0.394321,0.458331,-0.847716,-0.761866,-0.868821,-0.323805,-0.084215,0.541052,-1.092069,-0.441394
4,27,22.0,39.0,11.0,11.0,31.0,0,2,2020-06-02,1,...,1.682971,1.863336,-2.230621,0.556978,2.456784,1.071168,0.914462,0.651252,3.692845,1.996765

In [17]:
#Check columns 
complete_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Columns: 112 entries, ID to AU45_r__root_mean_square
dtypes: float64(107), int64(4), object(1)
memory usage: 91.1+ KB

In [18]:
# Unique Values in each column
complete_dataset.nunique()

ID                            104
Sum_12                         19
Sum_4567                       20
VVR_1                          12
VVR_2                          11
                             ...
AU45_r__variance               97
AU45_r__standard_deviation     98
AU45_r__maximum                62
AU45_r__mean                   98
AU45_r__root_mean_square       98
Length: 112, dtype: int64

In [19]:
# Data in each class we see it is not a balanced dataset!
complete_dataset.VVR_group.value_counts()

0    81
1    23
Name: VVR_group, dtype: int64