# Descriptive analytics donor info

This notebook contains descriptive analytics about the donor info csv file.

In [1]:
# import 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Load csv file

In [2]:
donor_info_path = "/Users/dionnespaltman/Desktop/downloading/20221101_donor_info2.csv"

df = pd.read_csv(donor_info_path, index_col=0)
df = df.rename(columns={'sum': 'Sum'})
df = df.rename(columns={'binary': 'Binary'})

df_with_id = pd.read_csv(donor_info_path)

df.head()

    Time_point          Path  Sum  Binary  Gender  Location  Condition
ID
5            1  video5_1.MOV   12       0       2         0          1
5            1  video5_1.MOV   12       0       2         0          1
5            1  video5_1.MOV   12       0       2         0          1
5            1  video5_1.MOV   12       0       2         0          1
5            1  video5_1.MOV   12       0       2         0          1

In [3]:
display(df)

     Time_point            Path  Sum  Binary  Gender  Location  Condition
ID
5             1    video5_1.MOV   12       0       2         0          1
5             1    video5_1.MOV   12       0       2         0          1
5             1    video5_1.MOV   12       0       2         0          1
5             1    video5_1.MOV   12       0       2         0          1
5             1    video5_1.MOV   12       0       2         0          1
..          ...             ...  ...     ...     ...       ...        ...
291           2  video291_2.MOV   10       1       1         0          3
291           4  video291_4.MOV   12       0       1         0          3
291           5  video291_5.MOV    8       1       1         0          3
291           6  video291_6.MOV   10       1       1         0          3
291           7  video291_7.MOV    8       1       1         0          3

[15125 rows x 7 columns]

In [4]:
print(f"Number of categories in the ID column is {df_with_id.ID.nunique()}.")
print(f"Number of categories in the time point column is {df.Time_point.nunique()}.")
print(f"Number of categories in the path column is {df.Path.nunique()}.")
print(f"Number of categories in the sum column is {df.Sum.nunique()}.")
print(f"Number of categories in the binary column is {df.Binary.nunique()}.")
print(f"Number of categories in the gender column is {df.Gender.nunique()}.")
print(f"Number of categories in the location column is {df.Location.nunique()}.")
print(f"Number of categories in the condition column is {df.Condition.nunique()}.")

Number of categories in the ID column is 281.
Number of categories in the time point column is 7.
Number of categories in the path column is 2792.
Number of categories in the sum column is 21.
Number of categories in the binary column is 2.
Number of categories in the gender column is 2.
Number of categories in the location column is 3.
Number of categories in the condition column is 3.

# Possible values of condition (what do they mean?)

In [7]:
condition_values = df['Condition'].unique()

print(condition_values)

[1 2 3]

# Count gender (does not work yet!)

In [ ]:
# Create a copy of the original dataframe
df_copy = df.copy()

# Drop duplicate rows based on the 'ID' column to ensure each participant is counted only once
unique_participants = df_copy.drop_duplicates(subset=['ID'])

# Reset index to ensure 'ID' is treated as a column
df_copy.reset_index(inplace=True)

# Drop duplicate rows based on the 'ID' column to ensure each participant is counted only once
unique_participants = df_copy.drop_duplicates(subset=['ID'])

# Count the occurrences of each gender
gender_counts = unique_participants['Gender'].value_counts()

print("Gender Counts:")
print(gender_counts)

# Unique IDs

In [12]:
unique_id_count = df.index.nunique()
print(unique_id_count)

unique_id_count = df_with_id['ID'].nunique()
print(unique_id_count)

print(df.index[:63])
print(df.index[64:128])

print(df.index.unique())

281
281
Int64Index([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
            5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
            5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
           dtype='int64', name='ID')
Int64Index([6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
            6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
            6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7],
           dtype='int64', name='ID')
Int64Index([  5,   6,   7,   8,   9,  10,  12,  13,  14,  15,
            ...
            282, 283, 284, 285, 286, 287, 288, 289, 290, 291],
           dtype='int64', name='ID', length=281)