# Descriptive analytics donor info

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

donor_info_path = "/Users/dionnespaltman/Desktop/downloading/20221101_donor_info2.csv"

df = pd.read_csv(donor_info_path, index_col=0)
df = df.rename(columns={'sum': 'Sum'})
df = df.rename(columns={'binary': 'Binary'})

df_with_id = pd.read_csv(donor_info_path)

df.head()

    Time_point          Path  Sum  Binary  Gender  Location  Condition
ID
5            1  video5_1.MOV   12       0       2         0          1
5            1  video5_1.MOV   12       0       2         0          1
5            1  video5_1.MOV   12       0       2         0          1
5            1  video5_1.MOV   12       0       2         0          1
5            1  video5_1.MOV   12       0       2         0          1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15125 entries, 5 to 291
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time_point  15125 non-null  int64
 1   Path        15125 non-null  object
 2   Sum         15125 non-null  int64
 3   binary      15125 non-null  int64
 4   Gender      15125 non-null  int64
 5   Location    15125 non-null  int64
 6   Condition   15125 non-null  int64
dtypes: int64(6), object(1)
memory usage: 945.3+ KB

In [13]:
df.describe()

,Time_point,Sum,binary,Gender,Location,Condition
count,15125.000000,15125.000000,15125.000000,15125.000000,15125.000000,15125.000000
mean,3.908165,11.547570,0.543868,1.616661,0.679273,2.213620
std,2.037136,3.842604,0.498088,0.486216,0.560959,0.832222
min,1.000000,8.000000,0.000000,1.000000,0.000000,1.000000
25%,2.000000,8.000000,0.000000,1.000000,0.000000,1.000000
50%,4.000000,11.000000,1.000000,2.000000,1.000000,2.000000
75%,6.000000,13.000000,1.000000,2.000000,1.000000,3.000000
max,7.000000,40.000000,1.000000,2.000000,2.000000,3.000000

In [14]:
print(f"Number of categories in the time point column is {df.Time_point.nunique()}.")
print(f"Number of categories in the path column is {df.Path.nunique()}.")
print(f"Number of categories in the sum column is {df.Sum.nunique()}.")
print(f"Number of categories in the binary column is {df.binary.nunique()}.")
print(f"Number of categories in the gender column is {df.Gender.nunique()}.")
print(f"Number of categories in the location column is {df.Location.nunique()}.")
print(f"Number of categories in the condition column is {df.Condition.nunique()}.")

Number of categories in the time point column is 7.
Number of categories in the path column is 2792.
Number of categories in the sum column is 21.
Number of categories in the binary column is 2.
Number of categories in the gender column is 2.
Number of categories in the location column is 3.
Number of categories in the condition column is 3.

In [ ]:
# Count the occurrences of each condition
condition_counts = df['Condition'].value_counts()

# Print the counts for condition 0 and condition 2
print("Count of condition 1:", condition_counts.get(1, 0))  # 0 if condition 0 not found
print("Count of condition 2:", condition_counts.get(2, 0))  # 0 if condition 1 not found

In [ ]:
# DOES NOT WORK YET

# Group by 'ID' and count occurrences of each gender within each group
gender_counts_per_id = df.groupby('ID')['Gender'].value_counts()

# Print the counts for female and male
print("Count of female:", gender_counts_per_id.groupby('Gender').sum().get(2, 0))  # 0 if female not found
print("Count of male:", gender_counts_per_id.groupby('Gender').sum().get(1, 0))  # 0 if male not found

In [16]:
unique_id_count = df.index.nunique()
print(unique_id_count)

unique_id_count = df_with_id['ID'].nunique()
print(unique_id_count)

281
281