# Next steps

In this file, I am going to the use the following files: 
- dummy_df: pickle file, dataframe, has all of the information in it (much smaller than the big dataframe)
- donor_info: this has the questionnaire data

In [1]:
# import 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle

# Import the files we need

In [3]:
file_path = '/Users/dionnespaltman/Desktop/downloading/donor_info.pkl'

# Read the pickle file into a DataFrame
donor_info = pd.read_pickle(file_path)

# Display the DataFrame
display(donor_info)

     Time_point            Path  Sum  Binary  Gender  Location  Condition
ID
5             1    video5_1.MOV   12       0       2         0          1
5             1    video5_1.MOV   12       0       2         0          1
5             1    video5_1.MOV   12       0       2         0          1
5             1    video5_1.MOV   12       0       2         0          1
5             1    video5_1.MOV   12       0       2         0          1
..          ...             ...  ...     ...     ...       ...        ...
291           2  video291_2.MOV   10       1       1         0          3
291           4  video291_4.MOV   12       0       1         0          3
291           5  video291_5.MOV    8       1       1         0          3
291           6  video291_6.MOV   10       1       1         0          3
291           7  video291_7.MOV    8       1       1         0          3

[15125 rows x 7 columns]

In [4]:
file_path = '/Users/dionnespaltman/Desktop/downloading/dummy_df.pkl'

# Read the pickle file into a DataFrame
dummy = pd.read_pickle(file_path)

# Display the DataFrame
display(dummy)

,frame,face_id,confidence,success,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,AU07_r,...,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c,ID,Timeframe
0,18082,0.0,0.98,1.0,0.00,0.00,0.27,0.00,0.08,0.07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10,[3]
1,105,0.0,0.98,1.0,0.57,0.74,1.48,0.00,1.09,0.43,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,10,[3]
2,13428,0.0,0.98,1.0,0.00,0.00,0.79,0.00,0.00,0.15,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,10,[3]
3,855,0.0,0.98,1.0,0.00,0.00,0.55,0.00,0.03,0.00,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10,[7]
4,19440,0.0,0.98,1.0,1.07,0.73,1.30,0.00,0.00,0.04,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,10,[3]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179669,1602,0.0,0.88,1.0,0.00,0.00,0.00,0.00,1.06,0.57,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,99,"[4, 5, 6]"
179670,14605,0.0,0.98,1.0,0.00,0.00,0.00,0.03,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99,"[4, 5, 6]"
179671,1187,0.0,0.98,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,[7]
179672,1044,0.0,0.98,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,[7]
179673,1165,0.0,0.98,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,[7]

# Merging files

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Reset the index of donor_info and create 'ID' as a column
donor_info.reset_index(drop=True, inplace=True)

print(donor_info['ID'])

# Ensure 'ID' column is in the same data type in both DataFrames
donor_info['ID'] = donor_info['ID'].astype(str)

# Concatenate features and labels along the columns axis
combined_data = pd.concat([dummy.set_index('ID'), donor_info.set_index('ID')], axis=1, join='inner')

# Define features (X) and labels (y)
X = combined_data.drop('condition', axis=1)  # Assuming 'Condition' is the label
y = combined_data['condition']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

0          5
1          5
2          5
3          5
4          5
        ...
15120    291
15121    291
15122    291
15123    291
15124    291
Name: ID, Length: 15125, dtype: object

InvalidIndexError: Reindexing only valid with uniquely valued Index objects