# TS fresh for action units

In [4]:
import pandas as pd
import pickle

In [5]:
# Construct the path 
au_data_path = '/Users/dionnespaltman/Desktop/downloading_new/big_dataframe.pkl'

# Load the dataset
au_df = pd.read_pickle(au_data_path)

In [6]:
print(au_df.columns)

Index(['frame', 'face_id', 'confidence', ' success', ' AU01_r', ' AU02_r',
       ' AU04_r', ' AU05_r', ' AU06_r', ' AU07_r', ' AU09_r', ' AU10_r',
       ' AU12_r', ' AU14_r', ' AU15_r', ' AU17_r', ' AU20_r', ' AU23_r',
       ' AU25_r', ' AU26_r', ' AU45_r', ' AU01_c', ' AU02_c', ' AU04_c',
       ' AU05_c', ' AU06_c', ' AU07_c', ' AU09_c', ' AU10_c', ' AU12_c',
       ' AU14_c', ' AU15_c', ' AU17_c', ' AU20_c', ' AU23_c', ' AU25_c',
       ' AU26_c', ' AU28_c', ' AU45_c', 'ID', 'Timeframe'],
      dtype='object')

In [8]:
print(au_df.head(20))

   frame  face_id  confidence   success   AU01_r   AU02_r   AU04_r   AU05_r  \
0    104      0.0        0.88       1.0     0.00     0.00      0.0      0.0
1    105      0.0        0.98       1.0     0.00     0.00      0.0      0.0
2    112      0.0        0.98       1.0     0.31     0.59      0.0      0.0
3    115      0.0        0.98       1.0     0.00     0.12      0.0      0.0
4    154      0.0        0.98       1.0     1.26     1.67      0.0      0.0
5    155      0.0        0.98       1.0     1.50     2.48      0.0      0.0
6    156      0.0        0.88       1.0     0.88     2.77      0.0      0.0
7    157      0.0        0.98       1.0     0.34     2.22      0.0      0.0
8    160      0.0        0.98       1.0     0.00     1.30      0.0      0.0
9    161      0.0        0.98       1.0     0.00     1.79      0.0      0.0
10   162      0.0        0.98       1.0     0.00     1.18      0.0      0.0
11   164      0.0        0.98       1.0     0.00     0.59      0.0      0.0
12   165      0.0        0.98       1.0     0.00     0.59      0.0      0.0
13   175      0.0        0.98       1.0     0.20     0.86      0.0      0.0
14   198      0.0        0.98       1.0     1.60     0.91      0.0      0.0
15   199      0.0        0.98       1.0     1.60     0.91      0.0      0.0
16   208      0.0        0.98       1.0     0.00     0.04      0.0      0.0
17   213      0.0        0.98       1.0     0.00     0.00      0.0      0.0
18   214      0.0        0.98       1.0     0.00     0.00      0.0      0.0
19   215      0.0        0.98       1.0     0.00     0.00      0.0      0.0

     AU06_r   AU07_r  ...   AU15_c   AU17_c   AU20_c   AU23_c   AU25_c  \
0      1.34     0.22  ...      0.0      0.0      0.0      0.0      0.0
1      1.34     0.22  ...      0.0      0.0      0.0      0.0      0.0
2      0.31     0.31  ...      0.0      0.0      0.0      0.0      0.0
3      0.32     0.06  ...      0.0      0.0      0.0      0.0      0.0
4      0.39     0.26  ...      1.0      0.0      0.0      0.0      1.0
5      0.60     0.26  ...      1.0      0.0      0.0      0.0      1.0
6      0.59     0.02  ...      1.0      0.0      0.0      0.0      1.0
7      0.73     0.00  ...      1.0      0.0      0.0      0.0      1.0
8      0.19     0.00  ...      1.0      1.0      0.0      0.0      0.0
9      0.25     0.00  ...      1.0      1.0      0.0      0.0      0.0
10     0.12     0.00  ...      1.0      1.0      0.0      0.0      0.0
11     0.29     0.00  ...      1.0      1.0      0.0      0.0      0.0
12     0.29     0.00  ...      0.0      0.0      0.0      0.0      0.0
13     0.11     0.25  ...      0.0      0.0      0.0      0.0      0.0
14     1.13     1.92  ...      0.0      0.0      0.0      0.0      0.0
15     1.13     1.92  ...      0.0      0.0      0.0      0.0      0.0
16     0.23     0.56  ...      0.0      0.0      0.0      0.0      0.0
17     1.02     0.17  ...      0.0      1.0      1.0      0.0      0.0
18     1.71     0.17  ...      0.0      1.0      1.0      0.0      0.0
19     1.93     0.00  ...      0.0      1.0      1.0      0.0      0.0

     AU26_c   AU28_c   AU45_c  ID  Timeframe
0       0.0      0.0      0.0  80  [4, 5, 6]
1       0.0      0.0      0.0  80  [4, 5, 6]
2       0.0      0.0      0.0  80  [4, 5, 6]
3       0.0      0.0      0.0  80  [4, 5, 6]
4       1.0      1.0      0.0  80  [4, 5, 6]
5       1.0      1.0      0.0  80  [4, 5, 6]
6       1.0      1.0      0.0  80  [4, 5, 6]
7       1.0      1.0      0.0  80  [4, 5, 6]
8       0.0      1.0      0.0  80  [4, 5, 6]
9       0.0      1.0      0.0  80  [4, 5, 6]
10      0.0      1.0      0.0  80  [4, 5, 6]
11      0.0      0.0      0.0  80  [4, 5, 6]
12      0.0      0.0      0.0  80  [4, 5, 6]
13      0.0      0.0      0.0  80  [4, 5, 6]
14      0.0      0.0      0.0  80  [4, 5, 6]
15      0.0      0.0      0.0  80  [4, 5, 6]
16      0.0      0.0      0.0  80  [4, 5, 6]
17      0.0      0.0      1.0  80  [4, 5, 6]
18      0.0      0.0      1.0  80  [4, 5, 6]
19      0.0      0.0      1.0  80  [4, 5, 6]

[20 rows x 41 columns]

In [6]:
print(len(au_df['ID'].unique()))

# I have thus 184 unique variables

184

In [26]:
nan_counts_au_df = au_df.isna().sum()
print(nan_counts_au_df)

frame              0
face_id            0
confidence         0
 success           0
 AU01_r       243394
 AU02_r       243394
 AU04_r       243394
 AU05_r       243394
 AU06_r       243394
 AU07_r       243394
 AU09_r       243394
 AU10_r       243394
 AU12_r       243394
 AU14_r       243394
 AU15_r       243394
 AU17_r       243394
 AU20_r       243394
 AU23_r       243394
 AU25_r       243394
 AU26_r       243394
 AU45_r       243394
 AU01_c       243394
 AU02_c       243394
 AU04_c       243394
 AU05_c       243394
 AU06_c       243394
 AU07_c       243394
 AU09_c       243394
 AU10_c       243394
 AU12_c       243394
 AU14_c       243394
 AU15_c       243394
 AU17_c       243394
 AU20_c       243394
 AU23_c       243394
 AU25_c       243394
 AU26_c       243394
 AU28_c       243394
 AU45_c       243394
ID                 0
Timeframe          0
dtype: int64

In [39]:
not_nan_counts_au_df = au_df.count()
print(not_nan_counts_au_df)

frame         3395916
face_id       3395916
confidence    3395916
 success      3395916
 AU01_r       3152522
 AU02_r       3152522
 AU04_r       3152522
 AU05_r       3152522
 AU06_r       3152522
 AU07_r       3152522
 AU09_r       3152522
 AU10_r       3152522
 AU12_r       3152522
 AU14_r       3152522
 AU15_r       3152522
 AU17_r       3152522
 AU20_r       3152522
 AU23_r       3152522
 AU25_r       3152522
 AU26_r       3152522
 AU45_r       3152522
 AU01_c       3152522
 AU02_c       3152522
 AU04_c       3152522
 AU05_c       3152522
 AU06_c       3152522
 AU07_c       3152522
 AU09_c       3152522
 AU10_c       3152522
 AU12_c       3152522
 AU14_c       3152522
 AU15_c       3152522
 AU17_c       3152522
 AU20_c       3152522
 AU23_c       3152522
 AU25_c       3152522
 AU26_c       3152522
 AU28_c       3152522
 AU45_c       3152522
ID            3395916
Timeframe     3395916
dtype: int64

## TS fresh requirements

In [11]:
# Necessary imports
!pip install tsfresh

import pandas as pd
from tsfresh import extract_features
from tsfresh.feature_extraction import EfficientFCParameters
from sklearn.preprocessing import StandardScaler

Requirement already satisfied: tsfresh in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (0.20.2)
Requirement already satisfied: stumpy>=1.7.2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.12.0)
Requirement already satisfied: cloudpickle in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (2.0.0)
Requirement already satisfied: statsmodels>=0.13 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (0.13.5)
Requirement already satisfied: tqdm>=4.10.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (4.64.1)
Requirement already satisfied: requests>=2.9.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (2.28.1)
Requirement already satisfied: scipy>=1.2.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.10.0)
Requirement already satisfied: patsy>=0.4.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (0.5.3)
Requirement already satisfied: scikit-learn>=0.22.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.2.1)
Requirement already satisfied: numpy>=1.15.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.23.5)
Requirement already satisfied: pandas>=0.25.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from pandas>=0.25.0->tsfresh) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from pandas>=0.25.0->tsfresh) (2.8.2)
Requirement already satisfied: six in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from patsy>=0.4.1->tsfresh) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (2023.7.22)
Requirement already satisfied: idna<4,>=2.5 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (2.0.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.22.0->tsfresh) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.22.0->tsfresh) (1.1.1)
Requirement already satisfied: packaging>=21.3 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from statsmodels>=0.13->tsfresh) (22.0)
Requirement already satisfied: numba>=0.55.2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from stumpy>=1.7.2->tsfresh) (0.56.4)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from numba>=0.55.2->stumpy>=1.7.2->tsfresh) (0.39.1)
Requirement already satisfied: setuptools in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from numba>=0.55.2->stumpy>=1.7.2->tsfresh) (65.6.3)

In [16]:
!pip install tsfresh
from tsfresh import extract_features

Requirement already satisfied: tsfresh in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (0.20.2)
Requirement already satisfied: requests>=2.9.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (2.28.1)
Requirement already satisfied: cloudpickle in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (2.0.0)
Requirement already satisfied: statsmodels>=0.13 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (0.13.5)
Requirement already satisfied: scikit-learn>=0.22.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.2.1)
Requirement already satisfied: numpy>=1.15.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.23.5)
Requirement already satisfied: stumpy>=1.7.2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.12.0)
Requirement already satisfied: scipy>=1.2.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.10.0)
Requirement already satisfied: patsy>=0.4.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (0.5.3)
Requirement already satisfied: pandas>=0.25.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.4.4)
Requirement already satisfied: tqdm>=4.10.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (4.64.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from pandas>=0.25.0->tsfresh) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from pandas>=0.25.0->tsfresh) (2022.7)
Requirement already satisfied: six in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from patsy>=0.4.1->tsfresh) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (2023.7.22)
Requirement already satisfied: joblib>=1.1.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.22.0->tsfresh) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.22.0->tsfresh) (2.2.0)
Requirement already satisfied: packaging>=21.3 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from statsmodels>=0.13->tsfresh) (22.0)
Requirement already satisfied: numba>=0.55.2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from stumpy>=1.7.2->tsfresh) (0.56.4)
Requirement already satisfied: setuptools in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from numba>=0.55.2->stumpy>=1.7.2->tsfresh) (65.6.3)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from numba>=0.55.2->stumpy>=1.7.2->tsfresh) (0.39.1)

In [17]:
from tsfresh.feature_extraction import ComprehensiveFCParameters

## AU

I'm only interested in the intensity values (so the variables with R at the end, not C).

In [12]:
au_long_format = pd.melt(au_df, id_vars=['ID', 'frame'],
                                   var_name='measurement', value_name='value',
                                   value_vars=[' AU01_r', ' AU02_r',
       ' AU04_r', ' AU05_r', ' AU06_r', ' AU07_r', ' AU09_r', ' AU10_r',
       ' AU12_r', ' AU14_r', ' AU15_r', ' AU17_r', ' AU20_r', ' AU23_r',
       ' AU25_r', ' AU26_r', ' AU45_r'])

In [13]:
display(au_long_format)

          ID frame measurement  value
0         80   104      AU01_r   0.00
1         80   105      AU01_r   0.00
2         80   112      AU01_r   0.31
3         80   115      AU01_r   0.00
4         80   154      AU01_r   1.26
...       ..   ...         ...    ...
57730567  25  2196      AU45_r   0.00
57730568  25  2197      AU45_r   0.00
57730569  25  2198      AU45_r   0.00
57730570  25  2199      AU45_r   0.00
57730571  25  2200      AU45_r   0.00

[57730572 rows x 4 columns]

There are a lot of missing values.

In [14]:
nan_counts = au_long_format.isna().sum()
print(nan_counts)

ID                   0
frame                0
measurement          0
value          4137698
dtype: int64

In Judita her article, she used the following six intensity level characteristics: sum, variance, standard deviation, maximum, mean, and mean-root square values (total number of extracted features = 102). 

The code down below doesn't run, because the value contains NaN values (also seen above, where I counted the occurences of NaN values).

In [ ]:
# Specificeer de gewenste kenmerken
settings = {
    'sum': {},
    'sum_values': {},
    'variance': {},
    'standard_deviation': {},
    'maximum': {},
    'minimum': {},
    #'median': {},
    'mean': {},
    'mean_abs_change': {},  #proxy voor gemiddelde van de wortel van de kwadraten als 'mean root square' niet direct beschikbaar is
    #'agg_linear_trend': [{'attr': 'slope', 'f_agg': 'max', 'chunk_len': 5}, {'attr': 'slope', 'f_agg': 'min', 'chunk_len': 5}]  #maximale en minimale helling
}

# Extract features met aangepaste instellingen
extracted_features_au = extract_features(
    au_long_format,
    column_id='ID',  # Identifies the time series
    column_sort='frame',  # Orders the time points
    column_kind='measurement',  # Distinguishes between different variables if necessary
    column_value='value',  # The actual measurements
    default_fc_parameters=settings
)

In [ ]:
print(extracted_features_au.head)

## Clean df (dropped missing values, about 7%)

Drop missing values (not inputting them, but just removing them since it's only 7 percent of all data).

In [38]:
# If you want to remove missing values only from specific columns, you can specify them
clean_df = au_df.dropna(subset=[' AU01_r', ' AU02_r',
       ' AU04_r', ' AU05_r', ' AU06_r', ' AU07_r', ' AU09_r', ' AU10_r',
       ' AU12_r', ' AU14_r', ' AU15_r', ' AU17_r', ' AU20_r', ' AU23_r',
       ' AU25_r', ' AU26_r', ' AU45_r'])

In [39]:
nan_counts_clean_df = clean_df.isna().sum()
print(nan_counts_clean_df)

frame         0
face_id       0
confidence    0
 success      0
 AU01_r       0
 AU02_r       0
 AU04_r       0
 AU05_r       0
 AU06_r       0
 AU07_r       0
 AU09_r       0
 AU10_r       0
 AU12_r       0
 AU14_r       0
 AU15_r       0
 AU17_r       0
 AU20_r       0
 AU23_r       0
 AU25_r       0
 AU26_r       0
 AU45_r       0
 AU01_c       0
 AU02_c       0
 AU04_c       0
 AU05_c       0
 AU06_c       0
 AU07_c       0
 AU09_c       0
 AU10_c       0
 AU12_c       0
 AU14_c       0
 AU15_c       0
 AU17_c       0
 AU20_c       0
 AU23_c       0
 AU25_c       0
 AU26_c       0
 AU28_c       0
 AU45_c       0
ID            0
Timeframe     0
dtype: int64

In [40]:
clean_df.to_csv('/Users/dionnespaltman/Desktop/downloading_new/clean_df_action_units_incomplete.csv', index=True)

In [18]:
clean_df_long_format = pd.melt(clean_df, id_vars=['ID', 'frame'],
                                   var_name='measurement', value_name='value',
                                   value_vars=[' AU01_r', ' AU02_r',
       ' AU04_r', ' AU05_r', ' AU06_r', ' AU07_r', ' AU09_r', ' AU10_r',
       ' AU12_r', ' AU14_r', ' AU15_r', ' AU17_r', ' AU20_r', ' AU23_r',
       ' AU25_r', ' AU26_r', ' AU45_r'])

In [19]:
display(clean_df_long_format)

          ID frame measurement  value
0         80   104      AU01_r   0.00
1         80   105      AU01_r   0.00
2         80   112      AU01_r   0.31
3         80   115      AU01_r   0.00
4         80   154      AU01_r   1.26
...       ..   ...         ...    ...
53592869  25  2196      AU45_r   0.00
53592870  25  2197      AU45_r   0.00
53592871  25  2198      AU45_r   0.00
53592872  25  2199      AU45_r   0.00
53592873  25  2200      AU45_r   0.00

[53592874 rows x 4 columns]

In [21]:
nan_counts_clean = clean_df_long_format.isna().sum()
print(nan_counts_clean)

ID             0
frame          0
measurement    0
value          0
dtype: int64

In [24]:
display(clean_df_long_format)

          ID frame measurement  value
0         80   104      AU01_r   0.00
1         80   105      AU01_r   0.00
2         80   112      AU01_r   0.31
3         80   115      AU01_r   0.00
4         80   154      AU01_r   1.26
...       ..   ...         ...    ...
53592869  25  2196      AU45_r   0.00
53592870  25  2197      AU45_r   0.00
53592871  25  2198      AU45_r   0.00
53592872  25  2199      AU45_r   0.00
53592873  25  2200      AU45_r   0.00

[53592874 rows x 4 columns]

In [32]:
# Convert 'ID' and 'frame' columns to integer data type
clean_df_long_format['ID'] = clean_df_long_format['ID'].astype(int)
clean_df_long_format['frame'] = clean_df_long_format['frame'].astype(int)

# # Convert 'measurement' column to string data type
clean_df_long_format['measurement'] = clean_df_long_format['measurement'].astype(str)

In [41]:
clean_df_long_format.to_csv('/Users/dionnespaltman/Desktop/downloading_new/clean_df_long_format_incomplete.csv', index=True)

In [34]:
column_types = clean_df_long_format.dtypes
print(column_types)

ID               int64
frame            int64
measurement     object
value          float64
dtype: object

In [35]:
# Specificeer de gewenste kenmerken
settings = {
    'sum_values': {},
    'variance': {},
    'standard_deviation': {},
    'maximum': {},
    'minimum': {},
    #'median': {},
    'mean': {},
    'mean_abs_change': {},  #proxy voor gemiddelde van de wortel van de kwadraten als 'mean root square' niet direct beschikbaar is
}

# Extract features met aangepaste instellingen
extracted_features_clean = extract_features(
    clean_df_long_format,
    column_id='ID',  # Identifies the time series
    column_sort='frame',  # Orders the time points
    column_kind='measurement',  # Distinguishes between different variables if necessary
    column_value='value',  # The actual measurements
    default_fc_parameters=settings
)

Feature Extraction: 100%|██████████| 20/20 [00:26<00:00,  1.34s/it]

In [37]:
print(extracted_features_clean.head)

<bound method NDFrame.head of       AU01_r__sum_values   AU01_r__variance   AU01_r__standard_deviation  \
5                6142.65           0.233452                     0.483169
6                6802.40           0.437904                     0.661743
7                7125.50           0.333478                     0.577475
8                5542.21           0.222518                     0.471719
9                5854.51           0.164812                     0.405970
..                   ...                ...                          ...
328              1543.09           0.225924                     0.475314
329              1479.36           0.138269                     0.371846
330              1066.31           0.078431                     0.280056
331              1691.75           0.216956                     0.465785
332              1283.27           0.152346                     0.390315

      AU01_r__maximum   AU01_r__minimum   AU01_r__mean  \
5                4.59               0.0       0.245529
6                5.00               0.0       0.389845
7                5.00               0.0       0.281240
8                4.22               0.0       0.276654
9                4.64               0.0       0.259382
..                ...               ...            ...
328              3.82               0.0       0.254048
329              2.98               0.0       0.216851
330              2.57               0.0       0.183942
331              2.59               0.0       0.322484
332              3.11               0.0       0.230266

      AU01_r__mean_abs_change   AU02_r__sum_values   AU02_r__variance  \
5                    0.093365              2545.74           0.078076
6                    0.131898              3626.81           0.239063
7                    0.252769              5123.91           0.303784
8                    0.068581              2367.16           0.093930
9                    0.092342              2084.46           0.066052
..                        ...                  ...                ...
328                  0.082508               766.74           0.114677
329                  0.226594               905.73           0.114883
330                  0.152402               849.92           0.096006
331                  0.273945               780.01           0.110991
332                  0.267913               654.81           0.063012

      AU02_r__standard_deviation  ...   AU26_r__minimum   AU26_r__mean  \
5                       0.279421  ...               0.0       0.321875
6                       0.488941  ...               0.0       0.676600
7                       0.551166  ...               0.0       0.660326
8                       0.306479  ...               0.0       0.701038
9                       0.257006  ...               0.0       0.729662
..                           ...  ...               ...            ...
328                     0.338641  ...               0.0       0.415239
329                     0.338945  ...               0.0       0.404461
330                     0.309849  ...               0.0       0.419805
331                     0.333153  ...               0.0       0.539449
332                     0.251023  ...               0.0       0.421959

      AU26_r__mean_abs_change   AU45_r__sum_values   AU45_r__variance  \
5                    0.099693              9502.95           0.365947
6                    0.204811              5834.73           0.311603
7                    0.469192             15768.86           1.250335
8                    0.209352              7791.52           0.409860
9                    0.146979             11029.72           0.698892
..                        ...                  ...                ...
328                  0.362868              2693.11           0.668294
329                  0.367889              4740.86           1.369941
330                  0.255323              3189.20           0.889855
331                  0.320787              2740.62           1.085287
332                  0.320526              2930.24           1.051245

      AU45_r__standard_deviation   AU45_r__maximum   AU45_r__minimum  \
5                       0.604936              3.78               0.0
6                       0.558214              3.95               0.0
7                       1.118184              5.00               0.0
8                       0.640203              3.67               0.0
9                       0.835998              4.63               0.0
..                           ...               ...               ...
328                     0.817492              4.96               0.0
329                     1.170445              5.00               0.0
330                     0.943322              4.95               0.0
331                     1.041771              5.00               0.0
332                     1.025302              4.52               0.0

      AU45_r__mean   AU45_r__mean_abs_change
5         0.379845                  0.128288
6         0.334388                  0.157706
7         0.622389                  0.636920
8         0.388934                  0.117176
9         0.488668                  0.162506
..             ...                       ...
328       0.443383                  0.368594
329       0.694937                  0.718933
330       0.550147                  0.427193
331       0.522421                  0.480385
332       0.525792                  0.476224

[183 rows x 119 columns]>

In [42]:
extracted_features_clean.to_csv('/Users/dionnespaltman/Desktop/downloading_new/extracted_features_clean_incomplete.csv', index=True)