# TS fresh for action units

In [1]:
import pandas as pd
import pickle

In [2]:
# Construct the path 
au_data_path = '/Users/dionnespaltman/Desktop/downloading_new/big_dataframe.pkl'

# Load the dataset
au_df = pd.read_pickle(au_data_path)

In [3]:
# load the donor info file
donor_info_path = '/Users/dionnespaltman/Desktop/downloading_new/faint_info_final.csv'
donor_info = pd.read_csv(donor_info_path)
display(donor_info)

,Unnamed: 0,ID,Time_point,Gender,Age,Datum,Location,Condition,Weight,Length,...,Weaknessn,Lightheadednessn,Fearn,Tensionn,Stressn,Nervousnessn,na.rm,sumVVR_total,sumVVR_456,VVR_group
0,0,5,-1.0,2,33.0,21-10-2019,0,1,74.0,171.0,...,1.0,1.0,2.0,2.0,2.0,2.0,True,66.0,26.0,0
1,1,6,-1.0,1,33.0,25-10-2019,0,2,86.0,176.0,...,1.0,1.0,1.0,1.0,1.0,1.0,True,56.0,24.0,0
2,2,7,-1.0,2,25.0,28-10-2019,0,2,71.0,172.0,...,1.0,2.0,1.0,2.0,1.0,2.0,True,111.0,65.0,1
3,3,8,-1.0,1,56.0,30-10-2019,0,1,87.0,178.0,...,1.0,1.0,1.0,2.0,1.0,1.0,True,57.0,24.0,0
4,4,9,-1.0,1,41.0,31-10-2019,0,1,80.0,175.0,...,1.0,1.0,1.0,1.0,1.0,1.0,True,56.0,24.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,315,328,-1.0,2,33.0,23-11-2022,3,3,55.0,157.0,...,1.0,1.0,1.0,2.0,1.0,2.0,True,55.0,27.0,0
316,316,329,-1.0,2,59.0,28-11-2022,3,3,75.0,168.0,...,1.0,1.0,1.0,2.0,2.0,1.0,True,53.0,27.0,0
317,317,330,-1.0,2,49.0,30-11-2022,0,3,80.0,177.0,...,1.0,1.0,2.0,2.0,1.0,2.0,True,58.0,26.0,0
318,318,331,-1.0,2,56.0,30-11-2022,0,3,73.0,167.0,...,1.0,1.0,1.0,4.0,2.0,3.0,True,66.0,30.0,0
319,319,332,-1.0,2,21.0,19-12-2022,3,2,66.0,173.0,...,1.0,1.0,3.0,2.0,2.0,3.0,True,87.0,47.0,1

In [5]:
print(au_df.columns)

Index(['frame', 'face_id', 'confidence', ' success', ' AU01_r', ' AU02_r',
       ' AU04_r', ' AU05_r', ' AU06_r', ' AU07_r', ' AU09_r', ' AU10_r',
       ' AU12_r', ' AU14_r', ' AU15_r', ' AU17_r', ' AU20_r', ' AU23_r',
       ' AU25_r', ' AU26_r', ' AU45_r', ' AU01_c', ' AU02_c', ' AU04_c',
       ' AU05_c', ' AU06_c', ' AU07_c', ' AU09_c', ' AU10_c', ' AU12_c',
       ' AU14_c', ' AU15_c', ' AU17_c', ' AU20_c', ' AU23_c', ' AU25_c',
       ' AU26_c', ' AU28_c', ' AU45_c', 'ID', 'Timeframe'],
      dtype='object')

In [6]:
print(au_df.head(20))

   frame  face_id  confidence   success   AU01_r   AU02_r   AU04_r   AU05_r  \
0    104      0.0        0.88       1.0     0.00     0.00      0.0      0.0
1    105      0.0        0.98       1.0     0.00     0.00      0.0      0.0
2    112      0.0        0.98       1.0     0.31     0.59      0.0      0.0
3    115      0.0        0.98       1.0     0.00     0.12      0.0      0.0
4    154      0.0        0.98       1.0     1.26     1.67      0.0      0.0
5    155      0.0        0.98       1.0     1.50     2.48      0.0      0.0
6    156      0.0        0.88       1.0     0.88     2.77      0.0      0.0
7    157      0.0        0.98       1.0     0.34     2.22      0.0      0.0
8    160      0.0        0.98       1.0     0.00     1.30      0.0      0.0
9    161      0.0        0.98       1.0     0.00     1.79      0.0      0.0
10   162      0.0        0.98       1.0     0.00     1.18      0.0      0.0
11   164      0.0        0.98       1.0     0.00     0.59      0.0      0.0
12   165      0.0        0.98       1.0     0.00     0.59      0.0      0.0
13   175      0.0        0.98       1.0     0.20     0.86      0.0      0.0
14   198      0.0        0.98       1.0     1.60     0.91      0.0      0.0
15   199      0.0        0.98       1.0     1.60     0.91      0.0      0.0
16   208      0.0        0.98       1.0     0.00     0.04      0.0      0.0
17   213      0.0        0.98       1.0     0.00     0.00      0.0      0.0
18   214      0.0        0.98       1.0     0.00     0.00      0.0      0.0
19   215      0.0        0.98       1.0     0.00     0.00      0.0      0.0

     AU06_r   AU07_r  ...   AU15_c   AU17_c   AU20_c   AU23_c   AU25_c  \
0      1.34     0.22  ...      0.0      0.0      0.0      0.0      0.0
1      1.34     0.22  ...      0.0      0.0      0.0      0.0      0.0
2      0.31     0.31  ...      0.0      0.0      0.0      0.0      0.0
3      0.32     0.06  ...      0.0      0.0      0.0      0.0      0.0
4      0.39     0.26  ...      1.0      0.0      0.0      0.0      1.0
5      0.60     0.26  ...      1.0      0.0      0.0      0.0      1.0
6      0.59     0.02  ...      1.0      0.0      0.0      0.0      1.0
7      0.73     0.00  ...      1.0      0.0      0.0      0.0      1.0
8      0.19     0.00  ...      1.0      1.0      0.0      0.0      0.0
9      0.25     0.00  ...      1.0      1.0      0.0      0.0      0.0
10     0.12     0.00  ...      1.0      1.0      0.0      0.0      0.0
11     0.29     0.00  ...      1.0      1.0      0.0      0.0      0.0
12     0.29     0.00  ...      0.0      0.0      0.0      0.0      0.0
13     0.11     0.25  ...      0.0      0.0      0.0      0.0      0.0
14     1.13     1.92  ...      0.0      0.0      0.0      0.0      0.0
15     1.13     1.92  ...      0.0      0.0      0.0      0.0      0.0
16     0.23     0.56  ...      0.0      0.0      0.0      0.0      0.0
17     1.02     0.17  ...      0.0      1.0      1.0      0.0      0.0
18     1.71     0.17  ...      0.0      1.0      1.0      0.0      0.0
19     1.93     0.00  ...      0.0      1.0      1.0      0.0      0.0

     AU26_c   AU28_c   AU45_c  ID  Timeframe
0       0.0      0.0      0.0  80  [4, 5, 6]
1       0.0      0.0      0.0  80  [4, 5, 6]
2       0.0      0.0      0.0  80  [4, 5, 6]
3       0.0      0.0      0.0  80  [4, 5, 6]
4       1.0      1.0      0.0  80  [4, 5, 6]
5       1.0      1.0      0.0  80  [4, 5, 6]
6       1.0      1.0      0.0  80  [4, 5, 6]
7       1.0      1.0      0.0  80  [4, 5, 6]
8       0.0      1.0      0.0  80  [4, 5, 6]
9       0.0      1.0      0.0  80  [4, 5, 6]
10      0.0      1.0      0.0  80  [4, 5, 6]
11      0.0      0.0      0.0  80  [4, 5, 6]
12      0.0      0.0      0.0  80  [4, 5, 6]
13      0.0      0.0      0.0  80  [4, 5, 6]
14      0.0      0.0      0.0  80  [4, 5, 6]
15      0.0      0.0      0.0  80  [4, 5, 6]
16      0.0      0.0      0.0  80  [4, 5, 6]
17      0.0      0.0      1.0  80  [4, 5, 6]
18      0.0      0.0      1.0  80  [4, 5, 6]
19      0.0      0.0      1.0  80  [4, 5, 6]

[20 rows x 41 columns]

In [7]:
print(len(au_df['ID'].unique()))

# I have thus 184 unique variables

184

In [26]:
nan_counts_au_df = au_df.isna().sum()
print(nan_counts_au_df)

frame              0
face_id            0
confidence         0
 success           0
 AU01_r       243394
 AU02_r       243394
 AU04_r       243394
 AU05_r       243394
 AU06_r       243394
 AU07_r       243394
 AU09_r       243394
 AU10_r       243394
 AU12_r       243394
 AU14_r       243394
 AU15_r       243394
 AU17_r       243394
 AU20_r       243394
 AU23_r       243394
 AU25_r       243394
 AU26_r       243394
 AU45_r       243394
 AU01_c       243394
 AU02_c       243394
 AU04_c       243394
 AU05_c       243394
 AU06_c       243394
 AU07_c       243394
 AU09_c       243394
 AU10_c       243394
 AU12_c       243394
 AU14_c       243394
 AU15_c       243394
 AU17_c       243394
 AU20_c       243394
 AU23_c       243394
 AU25_c       243394
 AU26_c       243394
 AU28_c       243394
 AU45_c       243394
ID                 0
Timeframe          0
dtype: int64

In [39]:
not_nan_counts_au_df = au_df.count()
print(not_nan_counts_au_df)

frame         3395916
face_id       3395916
confidence    3395916
 success      3395916
 AU01_r       3152522
 AU02_r       3152522
 AU04_r       3152522
 AU05_r       3152522
 AU06_r       3152522
 AU07_r       3152522
 AU09_r       3152522
 AU10_r       3152522
 AU12_r       3152522
 AU14_r       3152522
 AU15_r       3152522
 AU17_r       3152522
 AU20_r       3152522
 AU23_r       3152522
 AU25_r       3152522
 AU26_r       3152522
 AU45_r       3152522
 AU01_c       3152522
 AU02_c       3152522
 AU04_c       3152522
 AU05_c       3152522
 AU06_c       3152522
 AU07_c       3152522
 AU09_c       3152522
 AU10_c       3152522
 AU12_c       3152522
 AU14_c       3152522
 AU15_c       3152522
 AU17_c       3152522
 AU20_c       3152522
 AU23_c       3152522
 AU25_c       3152522
 AU26_c       3152522
 AU28_c       3152522
 AU45_c       3152522
ID            3395916
Timeframe     3395916
dtype: int64

## TS fresh requirements

In [15]:
# Necessary imports
!pip install tsfresh

import pandas as pd
from tsfresh import extract_features
from tsfresh.feature_extraction import EfficientFCParameters
from sklearn.preprocessing import StandardScaler

Requirement already satisfied: tsfresh in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (0.20.2)
Requirement already satisfied: scikit-learn>=0.22.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.2.1)
Requirement already satisfied: requests>=2.9.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (2.28.1)
Requirement already satisfied: pandas>=0.25.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.4.4)
Requirement already satisfied: tqdm>=4.10.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (4.64.1)
Requirement already satisfied: cloudpickle in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (2.0.0)
Requirement already satisfied: scipy>=1.2.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.10.0)
Requirement already satisfied: patsy>=0.4.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (0.5.3)
Requirement already satisfied: stumpy>=1.7.2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.12.0)
Requirement already satisfied: statsmodels>=0.13 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (0.13.5)
Requirement already satisfied: numpy>=1.15.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from pandas>=0.25.0->tsfresh) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from pandas>=0.25.0->tsfresh) (2022.7)
Requirement already satisfied: six in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from patsy>=0.4.1->tsfresh) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (2023.7.22)
Requirement already satisfied: idna<4,>=2.5 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (1.26.14)
Requirement already satisfied: joblib>=1.1.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.22.0->tsfresh) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.22.0->tsfresh) (2.2.0)
Requirement already satisfied: packaging>=21.3 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from statsmodels>=0.13->tsfresh) (22.0)
Requirement already satisfied: numba>=0.55.2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from stumpy>=1.7.2->tsfresh) (0.56.4)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from numba>=0.55.2->stumpy>=1.7.2->tsfresh) (0.39.1)
Requirement already satisfied: setuptools in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from numba>=0.55.2->stumpy>=1.7.2->tsfresh) (65.6.3)

In [16]:
!pip install tsfresh
from tsfresh import extract_features

Requirement already satisfied: tsfresh in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (0.20.2)
Requirement already satisfied: numpy>=1.15.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.23.5)
Requirement already satisfied: tqdm>=4.10.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (4.64.1)
Requirement already satisfied: patsy>=0.4.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (0.5.3)
Requirement already satisfied: stumpy>=1.7.2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.12.0)
Requirement already satisfied: statsmodels>=0.13 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (0.13.5)
Requirement already satisfied: pandas>=0.25.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.4.4)
Requirement already satisfied: requests>=2.9.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (2.28.1)
Requirement already satisfied: cloudpickle in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (2.0.0)
Requirement already satisfied: scipy>=1.2.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.10.0)
Requirement already satisfied: scikit-learn>=0.22.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from tsfresh) (1.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from pandas>=0.25.0->tsfresh) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from pandas>=0.25.0->tsfresh) (2022.7)
Requirement already satisfied: six in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from patsy>=0.4.1->tsfresh) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (2023.7.22)
Requirement already satisfied: idna<4,>=2.5 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from requests>=2.9.1->tsfresh) (3.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.22.0->tsfresh) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.22.0->tsfresh) (1.1.1)
Requirement already satisfied: packaging>=21.3 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from statsmodels>=0.13->tsfresh) (22.0)
Requirement already satisfied: numba>=0.55.2 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from stumpy>=1.7.2->tsfresh) (0.56.4)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from numba>=0.55.2->stumpy>=1.7.2->tsfresh) (0.39.1)
Requirement already satisfied: setuptools in /Users/dionnespaltman/anaconda3/lib/python3.10/site-packages (from numba>=0.55.2->stumpy>=1.7.2->tsfresh) (65.6.3)

In [17]:
from tsfresh.feature_extraction import ComprehensiveFCParameters

## AU

I'm only interested in the intensity values (so the variables with R at the end, not C).

In [12]:
au_long_format = pd.melt(au_df, id_vars=['ID', 'frame'],
                                   var_name='measurement', value_name='value',
                                   value_vars=[' AU01_r', ' AU02_r',
       ' AU04_r', ' AU05_r', ' AU06_r', ' AU07_r', ' AU09_r', ' AU10_r',
       ' AU12_r', ' AU14_r', ' AU15_r', ' AU17_r', ' AU20_r', ' AU23_r',
       ' AU25_r', ' AU26_r', ' AU45_r'])

In [13]:
display(au_long_format)

          ID frame measurement  value
0         80   104      AU01_r   0.00
1         80   105      AU01_r   0.00
2         80   112      AU01_r   0.31
3         80   115      AU01_r   0.00
4         80   154      AU01_r   1.26
...       ..   ...         ...    ...
57730567  25  2196      AU45_r   0.00
57730568  25  2197      AU45_r   0.00
57730569  25  2198      AU45_r   0.00
57730570  25  2199      AU45_r   0.00
57730571  25  2200      AU45_r   0.00

[57730572 rows x 4 columns]

There are a lot of missing values.

In [14]:
nan_counts = au_long_format.isna().sum()
print(nan_counts)

ID                   0
frame                0
measurement          0
value          4137698
dtype: int64

In Judita her article, she used the following six intensity level characteristics: sum, variance, standard deviation, maximum, mean, and mean-root square values (total number of extracted features = 102). 

The code down below doesn't run, because the value contains NaN values (also seen above, where I counted the occurences of NaN values).

In [ ]:
# Specificeer de gewenste kenmerken
settings = {
    'sum': {},
    'sum_values': {},
    'variance': {},
    'standard_deviation': {},
    'maximum': {},
    'minimum': {},
    #'median': {},
    'mean': {},
    'mean_abs_change': {},  #proxy voor gemiddelde van de wortel van de kwadraten als 'mean root square' niet direct beschikbaar is
    #'agg_linear_trend': [{'attr': 'slope', 'f_agg': 'max', 'chunk_len': 5}, {'attr': 'slope', 'f_agg': 'min', 'chunk_len': 5}]  #maximale en minimale helling
}

# Extract features met aangepaste instellingen
extracted_features_au = extract_features(
    au_long_format,
    column_id='ID',  # Identifies the time series
    column_sort='frame',  # Orders the time points
    column_kind='measurement',  # Distinguishes between different variables if necessary
    column_value='value',  # The actual measurements
    default_fc_parameters=settings
)

In [ ]:
print(extracted_features_au.head)

## Clean df (dropped missing values, about 7%)

Drop missing values (not inputting them, but just removing them since it's only 7 percent of all data).

In [4]:
# If you want to remove missing values only from specific columns, you can specify them
clean_df = au_df.dropna(subset=[' AU01_r', ' AU02_r',
       ' AU04_r', ' AU05_r', ' AU06_r', ' AU07_r', ' AU09_r', ' AU10_r',
       ' AU12_r', ' AU14_r', ' AU15_r', ' AU17_r', ' AU20_r', ' AU23_r',
       ' AU25_r', ' AU26_r', ' AU45_r'])

In [5]:
nan_counts_clean_df = clean_df.isna().sum()
print(nan_counts_clean_df)

frame         0
face_id       0
confidence    0
 success      0
 AU01_r       0
 AU02_r       0
 AU04_r       0
 AU05_r       0
 AU06_r       0
 AU07_r       0
 AU09_r       0
 AU10_r       0
 AU12_r       0
 AU14_r       0
 AU15_r       0
 AU17_r       0
 AU20_r       0
 AU23_r       0
 AU25_r       0
 AU26_r       0
 AU45_r       0
 AU01_c       0
 AU02_c       0
 AU04_c       0
 AU05_c       0
 AU06_c       0
 AU07_c       0
 AU09_c       0
 AU10_c       0
 AU12_c       0
 AU14_c       0
 AU15_c       0
 AU17_c       0
 AU20_c       0
 AU23_c       0
 AU25_c       0
 AU26_c       0
 AU28_c       0
 AU45_c       0
ID            0
Timeframe     0
dtype: int64

In [ ]:
clean_df.to_csv('/Users/dionnespaltman/Desktop/downloading_new/clean_df_action_units_incomplete.csv', index=True)

In [6]:
clean_df_long_format = pd.melt(clean_df, id_vars=['ID', 'frame'],
                                   var_name='measurement', value_name='value',
                                   value_vars=[' AU01_r', ' AU02_r',
       ' AU04_r', ' AU05_r', ' AU06_r', ' AU07_r', ' AU09_r', ' AU10_r',
       ' AU12_r', ' AU14_r', ' AU15_r', ' AU17_r', ' AU20_r', ' AU23_r',
       ' AU25_r', ' AU26_r', ' AU45_r'])

In [7]:
display(clean_df_long_format)

          ID frame measurement  value
0         80   104      AU01_r   0.00
1         80   105      AU01_r   0.00
2         80   112      AU01_r   0.31
3         80   115      AU01_r   0.00
4         80   154      AU01_r   1.26
...       ..   ...         ...    ...
53592869  25  2196      AU45_r   0.00
53592870  25  2197      AU45_r   0.00
53592871  25  2198      AU45_r   0.00
53592872  25  2199      AU45_r   0.00
53592873  25  2200      AU45_r   0.00

[53592874 rows x 4 columns]

In [9]:
nan_counts_clean = clean_df_long_format.isna().sum()
print(nan_counts_clean)

ID             0
frame          0
measurement    0
value          0
dtype: int64

In [10]:
display(clean_df_long_format)

          ID frame measurement  value
0         80   104      AU01_r   0.00
1         80   105      AU01_r   0.00
2         80   112      AU01_r   0.31
3         80   115      AU01_r   0.00
4         80   154      AU01_r   1.26
...       ..   ...         ...    ...
53592869  25  2196      AU45_r   0.00
53592870  25  2197      AU45_r   0.00
53592871  25  2198      AU45_r   0.00
53592872  25  2199      AU45_r   0.00
53592873  25  2200      AU45_r   0.00

[53592874 rows x 4 columns]

In [11]:
# Convert 'ID' and 'frame' columns to integer data type
clean_df_long_format['ID'] = clean_df_long_format['ID'].astype(int)
clean_df_long_format['frame'] = clean_df_long_format['frame'].astype(int)

# # Convert 'measurement' column to string data type
clean_df_long_format['measurement'] = clean_df_long_format['measurement'].astype(str)

In [18]:
clean_df_long_format.to_csv('/Users/dionnespaltman/Desktop/downloading_new/clean_df_long_format_incomplete.csv', index=True)

KeyboardInterrupt:

In [19]:
column_types = clean_df_long_format.dtypes
print(column_types)

ID               int64
frame            int64
measurement     object
value          float64
dtype: object

In [ ]:
# Specificeer de gewenste kenmerken
settings = {
    'sum_values': {},
    'variance': {},
    'standard_deviation': {},
    'maximum': {},
    'minimum': {},
    #'median': {},
    'mean': {},
    'mean_abs_change': {},  #proxy voor gemiddelde van de wortel van de kwadraten als 'mean root square' niet direct beschikbaar is
}

# Extract features met aangepaste instellingen
extracted_features_clean = extract_features(
    clean_df_long_format,
    column_id='ID',  # Identifies the time series
    column_sort='frame',  # Orders the time points
    column_kind='measurement',  # Distinguishes between different variables if necessary
    column_value='value',  # The actual measurements
    default_fc_parameters=settings
)

If you've done this already, you can just load the file.

In [21]:
path = '/Users/dionnespaltman/Desktop/downloading_new/extracted_features_clean_incomplete.csv'
extracted_features_clean = pd.read_csv(path)

In [22]:
print(extracted_features_clean.head)

<bound method NDFrame.head of      Unnamed: 0   AU01_r__sum_values   AU01_r__variance  \
0             5              6142.65           0.233452
1             6              6802.40           0.437904
2             7              7125.50           0.333478
3             8              5542.21           0.222518
4             9              5854.51           0.164812
..          ...                  ...                ...
178         328              1543.09           0.225924
179         329              1479.36           0.138269
180         330              1066.31           0.078431
181         331              1691.75           0.216956
182         332              1283.27           0.152346

      AU01_r__standard_deviation   AU01_r__maximum   AU01_r__minimum  \
0                       0.483169              4.59               0.0
1                       0.661743              5.00               0.0
2                       0.577475              5.00               0.0
3                       0.471719              4.22               0.0
4                       0.405970              4.64               0.0
..                           ...               ...               ...
178                     0.475314              3.82               0.0
179                     0.371846              2.98               0.0
180                     0.280056              2.57               0.0
181                     0.465785              2.59               0.0
182                     0.390315              3.11               0.0

      AU01_r__mean   AU01_r__mean_abs_change   AU02_r__sum_values  \
0         0.245529                  0.093365              2545.74
1         0.389845                  0.131898              3626.81
2         0.281240                  0.252769              5123.91
3         0.276654                  0.068581              2367.16
4         0.259382                  0.092342              2084.46
..             ...                       ...                  ...
178       0.254048                  0.082508               766.74
179       0.216851                  0.226594               905.73
180       0.183942                  0.152402               849.92
181       0.322484                  0.273945               780.01
182       0.230266                  0.267913               654.81

      AU02_r__variance  ...   AU26_r__minimum   AU26_r__mean  \
0             0.078076  ...               0.0       0.321875
1             0.239063  ...               0.0       0.676600
2             0.303784  ...               0.0       0.660326
3             0.093930  ...               0.0       0.701038
4             0.066052  ...               0.0       0.729662
..                 ...  ...               ...            ...
178           0.114677  ...               0.0       0.415239
179           0.114883  ...               0.0       0.404461
180           0.096006  ...               0.0       0.419805
181           0.110991  ...               0.0       0.539449
182           0.063012  ...               0.0       0.421959

      AU26_r__mean_abs_change   AU45_r__sum_values   AU45_r__variance  \
0                    0.099693              9502.95           0.365947
1                    0.204811              5834.73           0.311603
2                    0.469192             15768.86           1.250335
3                    0.209352              7791.52           0.409860
4                    0.146979             11029.72           0.698892
..                        ...                  ...                ...
178                  0.362868              2693.11           0.668294
179                  0.367889              4740.86           1.369941
180                  0.255323              3189.20           0.889855
181                  0.320787              2740.62           1.085287
182                  0.320526              2930.24           1.051245

      AU45_r__standard_deviation   AU45_r__maximum   AU45_r__minimum  \
0                       0.604936              3.78               0.0
1                       0.558214              3.95               0.0
2                       1.118184              5.00               0.0
3                       0.640203              3.67               0.0
4                       0.835998              4.63               0.0
..                           ...               ...               ...
178                     0.817492              4.96               0.0
179                     1.170445              5.00               0.0
180                     0.943322              4.95               0.0
181                     1.041771              5.00               0.0
182                     1.025302              4.52               0.0

      AU45_r__mean   AU45_r__mean_abs_change
0         0.379845                  0.128288
1         0.334388                  0.157706
2         0.622389                  0.636920
3         0.388934                  0.117176
4         0.488668                  0.162506
..             ...                       ...
178       0.443383                  0.368594
179       0.694937                  0.718933
180       0.550147                  0.427193
181       0.522421                  0.480385
182       0.525792                  0.476224

[183 rows x 120 columns]>

In [42]:
extracted_features_clean.to_csv('/Users/dionnespaltman/Desktop/downloading_new/extracted_features_clean_incomplete.csv', index=True)

### Understanding extracted features

In [23]:
print(extracted_features_clean.describe())

       Unnamed: 0   AU01_r__sum_values   AU01_r__variance  \
count  183.000000           183.000000         183.000000
mean   132.688525          6669.963388           0.406814
std    107.812853          5330.085086           0.287668
min      5.000000             1.590000           0.009519
25%     50.500000          1331.710000           0.221400
50%     98.000000          6786.440000           0.333478
75%    145.500000          9889.495000           0.522462
max    332.000000         22053.430000           1.617627

        AU01_r__standard_deviation   AU01_r__maximum   AU01_r__minimum  \
count                   183.000000        183.000000        183.000000
mean                      0.599693          4.208743         -0.043716
std                       0.217808          1.047440          0.441447
min                       0.097566          0.380000         -4.330000
25%                       0.470531          3.665000          0.000000
50%                       0.577475          4.640000          0.000000
75%                       0.722805          5.000000          0.000000
max                       1.271860          7.080000          0.660000

        AU01_r__mean   AU01_r__mean_abs_change   AU02_r__sum_values  \
count     183.000000                183.000000           183.000000
mean        0.348603                  0.145677          3194.100437
std         0.156000                  0.088276          2625.492504
min         0.056170                  0.021667             4.150000
25%         0.253128                  0.081284           766.090000
50%         0.316426                  0.119841          3082.200000
75%         0.419314                  0.203542          4800.915000
max         1.279710                  0.459468         16341.400000

        AU02_r__variance  ...   AU26_r__minimum   AU26_r__mean  \
count         183.000000  ...        183.000000     183.000000
mean            0.202943  ...         -0.034153       0.655815
std             0.192262  ...          0.328298       0.262880
min             0.010520  ...         -3.920000       0.175808
25%             0.095351  ...          0.000000       0.448457
50%             0.154236  ...          0.000000       0.650452
75%             0.251469  ...          0.000000       0.795873
max             1.642312  ...          0.000000       1.935325

        AU26_r__mean_abs_change   AU45_r__sum_values   AU45_r__variance  \
count                183.000000           183.000000         183.000000
mean                   0.232247          8823.075902           0.773932
std                    0.129525          6059.583387           0.343754
min                    0.061436             0.360000           0.000306
25%                    0.151222          2620.855000           0.530242
50%                    0.209352          9502.950000           0.735545
75%                    0.282942         13438.800000           0.980779
max                    1.022075         27436.600000           1.935481

        AU45_r__standard_deviation   AU45_r__maximum   AU45_r__minimum  \
count                   183.000000        183.000000        183.000000
mean                      0.855411          4.565683         -0.046503
std                       0.206001          0.699956          0.384820
min                       0.017500          0.120000         -4.290000
25%                       0.728174          4.330000          0.000000
50%                       0.857639          4.830000          0.000000
75%                       0.990342          5.000000          0.000000
max                       1.391216          6.750000          0.000000

        AU45_r__mean   AU45_r__mean_abs_change
count     183.000000                183.000000
mean        0.498023                  0.274535
std         0.143751                  0.169977
min         0.002609                  0.001752
25%         0.406272                  0.145954
50%         0.491571                  0.215732
75%         0.582867                  0.371223
max         1.035161                  0.892924

[8 rows x 120 columns]

Running the code below took about # minutes.

In [45]:
# visualization (for example, using seaborn)
import seaborn as sns
sns.pairplot(extracted_features_clean)

### Reducing features to hte most important ones

In this example, y represents the target variable you are trying to predict or classify. The select_features function filters out the irrelevant features, keeping only those with significant predictive power.

In [26]:
print(len(donor_info['VVR_group']))

320

In [27]:
print(len(extracted_features_clean))

183

In [25]:
from tsfresh import select_features
from tsfresh.utilities.dataframe_functions import impute

# impute missing values 
impute(extracted_features_clean)

# your target variable 
y = donor_info['VVR_group']

# selecting important features 
important_features = select_features(extracted_features_clean, y)

# display important features
print(important_features.head())

AssertionError: X and y must contain the same number of samples.