# Donor info description

In [1]:
import pandas as pd
import csv

In [2]:
path_name = '/Users/dionnespaltman/Desktop/V4/FAINT_Info_Personality_timepoints.csv'
donor_info = pd.read_csv(path_name)

The original dataset has 2057 rows and 155 columns. There are 328 unique IDs.

In [3]:
print(donor_info.shape)
print("Number of unique IDs:", donor_info['ID'].nunique())

(2057, 155)
Number of unique IDs: 328

In [4]:
display(donor_info.head())

,ID,Time_point,Gender,Age,Datum,Location,Condition,Weight,Length,FEAR_sum,...,Psychological_sum,Faintnessn,Dizzinessn,Weaknessn,Lightheadednessn,Fearn,Tensionn,Stressn,Nervousnessn,na.rm
0,5,1.0,2,33.0,21-10-2019,0,1,74.0,171.0,26,...,8.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,True
1,5,2.0,2,33.0,21-10-2019,0,1,74.0,171.0,26,...,6.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,True
2,5,3.0,2,33.0,21-10-2019,0,1,74.0,171.0,26,...,6.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,True
3,5,4.0,2,33.0,21-10-2019,0,1,74.0,171.0,26,...,5.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,True
4,5,5.0,2,33.0,21-10-2019,0,1,74.0,171.0,26,...,5.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,True

In [5]:
# Find the minimum and maximum IDs in the 'ID' column of faint_info DataFrame
min_id = donor_info['ID'].min()
max_id = donor_info['ID'].max()

# Print the range of IDs
print("Range of IDs:", min_id, max_id)

Range of IDs: 5 332

In [6]:
columns = list(donor_info.columns)
print(columns)

['ID', 'Time_point', 'Gender', 'Age', 'Datum', 'Location', 'Condition', 'Weight', 'Length', 'FEAR_sum', 'VVR_sum_tp', 'VVR_psych_tp', 'VVR_phys_tp', 'ERQ_sum', 'ERQ_CR', 'ERQ_ES', 'SSAS_sum', 'ASI_sum', 'MAIA_sum', 'MAIA_noticing_mean', 'MAIA_notdistr_mean', 'MAIA_notworry_mean', 'MAIA_attregul_mean', 'MAIA_emoaware_mean', 'MAIA_selfregu_mean', 'MAIA_bodylist_mean', 'MAIA_trust_mean', 'MAIA_noticing_sum', 'MAIA_notdistr_sum', 'MAIA_notworry_sum', 'MAIA_attregul_sum', 'MAIA_emoaware_sum', 'MAIA_selfregu_sum', 'MAIA_bodylist_sum', 'MAIA_trust_sum', 'Q2.2_1', 'Q2.2_2', 'Q2.2_3', 'Q2.2_4', 'Q2.2_5', 'Q2.2_6', 'Q2.2_7', 'Q2.2_8', 'Q2.2_9', 'Q2.2_10', 'Q3.1_1', 'Q3.1_2', 'Q3.1_3', 'Q3.1_4', 'Q3.1_5', 'Q3.1_6', 'Q3.1_7', 'Q3.1_8', 'Q3.2_1', 'Q3.2_2', 'Q3.2_3', 'Q3.2_4', 'Q3.2_5', 'Q3.2_6', 'Q3.2_7', 'Q3.2_8', 'Q4.1_1', 'Q4.1_2', 'Q4.1_3', 'Q4.1_4', 'Q4.1_5', 'Q4.1_6', 'Q4.1_7', 'Q4.1_8', 'Q4.1_9', 'Q4.1_10', 'Q5.1_1', 'Q5.1_2', 'Q5.1_3', 'Q5.1_4', 'Q5.1_5', 'Q5.1_6', 'Q5.1_7', 'Q5.1_8', 'Q5.1_9', 'Q5.1_10', 'Q5.1_11', 'Q5.1_12', 'Q5.1_13', 'Q5.1_14', 'Q5.1_15', 'Q5.1_16', 'Q5.1_17', 'Q5.1_18', 'Q5.1_19', 'Q5.1_20', 'Q5.1_21', 'Q5.1_22', 'Q5.1_23', 'Q5.1_24', 'Q5.1_25', 'Q5.1_26', 'Q5.1_27', 'Q5.1_28', 'Q5.1_29', 'Q5.1_30', 'Q5.1_31', 'Q5.1_32', 'Q5.1_33', 'Q5.1_34', 'Q5.1_35', 'Q5.1_36', 'Q5.1_37', 'Q14_1', 'Q14_2', 'Q14_3', 'Q14_4', 'Q14_5', 'Q14_6', 'Q14_12', 'Q16_2', 'Q14_33', 'Q14_44', 'Q14_55', 'Q14_66', 'Q7.1_1', 'Q7.1_2', 'Q7.1_3', 'Q7.1_4', 'Q7.1_5', 'Q7.1_6', 'Q7.1_7', 'Q7.1_8', 'Q7.1_9', 'Q7.1_10', 'Q7.1_11', 'Q7.1_12', 'Q7.1_13', 'Q7.1_14', 'Q7.1_15', 'Q7.1_16', 'Faintness', 'Dizziness', 'Weakness', 'Lightheadedness', 'Fear', 'Tension', 'Stress', 'Nervousness', 'Physical_sum', 'Psychological_sum', 'Faintnessn', 'Dizzinessn', 'Weaknessn', 'Lightheadednessn', 'Fearn', 'Tensionn', 'Stressn', 'Nervousnessn', 'na.rm']

# Get the range of dates

In [5]:
# Convert 'Datum' column to datetime if it's not already in datetime format
donor_info['Datum'] = pd.to_datetime(donor_info['Datum'])

# Find the first and last dates
first_date = donor_info['Datum'].min()
last_date = donor_info['Datum'].max()

print("First date:", first_date)
print("Last date:", last_date)

First date: 2019-06-11 00:00:00
Last date: 2022-12-19 00:00:00